@model IEnumerable<_10207_Megan_Pretorius_SLD521_SA.Models.Data.Paper>

@{
    ViewBag.Title = "PaperView";
}

<h2>PaperView</h2>

<h2>The submitted papers</h2>

<table class="table">
    <tr>
        @*<th>Id</th>
        <th>Title</th>
        <th>Author</th>*@

        <th>
            @Html.DisplayNameFor(model => model.PaperTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperAbstract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperDateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaperId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperAbstract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaperDateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
    </tr>
}
</table>
